/* Resets the default styles of the browser */
/* prettier-ignore */
a, abbr, acronym, address, applet, big, blockquote, body,button, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var, hr, nav, main, section, aside {
    /* margin: 0;
    padding: 0;
    border: 0; */
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
/* article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}
h2 {
    font-size: 2rem;
    font-weight: bold;
}
h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
h4 {
    font-size: 1.17rem;
    font-weight: bold;
}
h5 {
    font-size: 1rem;
    font-weight: bold;
}
h6 {
    font-size: 0.67rem;
    font-weight: bold;
} */